body{
    background-color: #005346; 
    text-align: center;
    font-family: Press Start 2P;
    font-family: 'Press Start 2P', cursive;
}

button{
    
    border: none;
    color: white;
    padding: 0px 0px 14px 0px;
    width: 65px;
    height: 51px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    border-radius: 12px;
    
    background-color: #38a44a; /* Green 4CAF50*/           
}

#capa{
    text-align: center;
    min-width: 700px;
    max-width: 700px;
    margin: auto;
}

/**/


ul {
    list-style-type: none;
    min-width: 500px;
    max-width: 500px;
    padding: 0;
    margin: auto;
    overflow: hidden;
    background-color: #287134;
    text-align: center; 
}

li {
    width: 50%;
    float:left;
    text-align: center;
    font-size: 25px;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #184720;
}

.reglas{
    background-color: #287134;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    padding: 10px 0px 10px 0px;
}

.table{
    background-color: #005e50;
    border: thin solid #013d34;
    min-width: 500px;
    max-width: 500px;
    margin: auto;
    height: 65px;
    border-radius: 10px;
}

select {
    background-color: rgb(186, 121, 0);
    border: thin solid #184720;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 0.5em 0.5em 2em;  
    margin: 10px 0px 20px 0px;      
    box-sizing: border-box;
    height: 45px;
}

option{
    padding: 30px 30px 30px 30px;
}



.dificultad{
    
    font-size: 14px;
    
    border-radius: 4px;
    display: inline-block;
    font: inherit;
      
    margin: 0;      
    box-sizing: border-box;
    height: 45px;
    
}

.mensage{
    font-family: Arial, Helvetica, sans-serif;
}

  

  


  
